@import 'tailwindcss';

@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/controls/dist/style.css';
@import '@vue-flow/node-resizer/dist/style.css';

@font-face {
    font-family: 'Outfit-Variable';
    src:
        url('~/assets/fonts/outfit/Outfit-Variable.woff2') format('woff2'),
        url('~/assets/fonts/outfit/Outfit-Variable.woff') format('woff'),
        url('~/assets/fonts/outfit/Outfit-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

/* Custom color theme */
@theme {
    --color-soft-silk: #fffcf2;
    --color-stone-gray: #ccc5b9;
    --color-anthracite: #403d39;
    --color-obsidian: #252422;
    --color-ember-glow: #eb5e28;
    --color-terracotta-clay: #b85b46;
    --color-terracotta-clay-dark: #8b4d3a;
    --color-olive-grove: #7a8768;
    --color-olive-grove-dark: #4b5d3a;
    --color-golden-ochre: #c19a3e;
    --color-golden-ochre-dark: #8b6a2a;
    --color-slate-blue: #6a7a8a;
    --color-slate-blue-dark: #4b5d6a;
    --color-dried-heather: #6c5b7b;
    --color-dried-heather-dark: #4b3d5a;

    --font-outfit: 'Outfit-Variable', sans-serif;
}

/* Increase the size of the node resizer to make it easier to grab */
.vue-flow__resize-control.handle {
    width: 10px !important;
    height: 10px !important;
    border: 0;
}

.vue-flow__resize-control.line.bottom {
    border-bottom-width: 10px;
}

.vue-flow__resize-control.line.top {
    border-top-width: 10px;
}

.vue-flow__resize-control.line.left {
    border-left-width: 10px;
}
.vue-flow__resize-control.line.right {
    border-right-width: 10px;
}

/* Set the controls in horizontal */
.vue-flow__panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Increase size of handles circles */
.vue-flow__handle {
    width: 25px !important;
    height: 10px !important;
    border: 0;
    border-radius: 4px;
}

.vue-flow__controls {
    @apply bg-anthracite/75 border-stone-gray/10 space-x-1 rounded-2xl border-2 p-1 shadow-lg backdrop-blur-md;
}

.vue-flow__controls svg {
    fill: var(--color-stone-gray);
}

.vue-flow__controls-button {
    @apply rounded-xl;
    background-color: transparent;
    border-bottom: 0px;
}

.vue-flow__controls-button:hover {
    background-color: var(--color-anthracite);
}

div.vue-flow__panel.top.left.vue-flow__controls {
    top: 0.5rem;
    left: 26rem;
}
