@import "tailwindcss";

@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";
@import "@vue-flow/controls/dist/style.css";
@import "@vue-flow/node-resizer/dist/style.css";

/* Custom color theme */
@theme {
    --color-soft-silk: #FFFCF2;
    --color-stone-gray: #CCC5B9;
    --color-anthracite: #403D39;
    --color-obsidian: #252422;
    --color-ember-glow: #EB5E28;
}


/* Increase the size of the node resizer to make it easier to grab */
.vue-flow__resize-control.handle {
    width: 10px !important;
    height: 10px !important;
    border: 0;
}

.vue-flow__resize-control.line.bottom{
    border-bottom-width: 10px;
}

.vue-flow__resize-control.line.top{
    border-top-width: 10px;
}

.vue-flow__resize-control.line.left{
    border-left-width: 10px;
}
.vue-flow__resize-control.line.right{
    border-right-width: 10px;
}

/* Set the controls in horizontal */
.vue-flow__panel {
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

/* Increase size of handles circles */
.vue-flow__handle {
    width: 10px !important;
    height: 10px !important;
    border: 0;
}