@import "tailwindcss";

@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";
@import "@vue-flow/controls/dist/style.css";
@import "@vue-flow/node-resizer/dist/style.css";

/* Custom color theme */
@theme {
    --color-soft-silk: #FFFCF2;
    --color-stone-gray: #CCC5B9;
    --color-anthracite: #403D39;
    --color-obsidian: #252422;
    --color-ember-glow: #EB5E28;
    --color-terracotta-clay: #B85B46;
    --color-terracotta-clay-dark: #8B4D3A;
    --color-olive-grove: #7A8768;
    --color-olive-grove-dark: #4B5D3A;
    --color-golden-ochre: #C19A3E;
    --color-golden-ochre-dark: #8B6A2A;
    --color-slate-blue: #6A7A8A;
    --color-slate-blue-dark: #4B5D6A;
    --color-dried-heather: #6C5B7B;
    --color-dried-heather-dark: #4B3D5A;
}


/* Increase the size of the node resizer to make it easier to grab */
.vue-flow__resize-control.handle {
    width: 10px !important;
    height: 10px !important;
    border: 0;
}

.vue-flow__resize-control.line.bottom{
    border-bottom-width: 10px;
}

.vue-flow__resize-control.line.top{
    border-top-width: 10px;
}

.vue-flow__resize-control.line.left{
    border-left-width: 10px;
}
.vue-flow__resize-control.line.right{
    border-right-width: 10px;
}

/* Set the controls in horizontal */
.vue-flow__panel {
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

/* Increase size of handles circles */
.vue-flow__handle {
    width: 20px !important;
    height: 10px !important;
    border: 0;
    border-radius: 4px;
}