fastapi[standard]
slowapi
sqlmodel
asyncpg
neo4j
pybase64
pycryptodome
python-jose[cryptography]
bcrypt
alembic
sentry-sdk[fastapi]
redis
aiofiles
types-aiofiles
curl-cffi
beautifulsoup4
markdownify==1.2.0
patchright
python-dateutil
Jinja2
aiosmtplib